h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.animal-card {
  width: 500px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  background-color: rgb(222, 95, 27);
  border-radius: 25px;
  font-family: "Montserrat", sans-serif;
}
.card-img {
  width: 80%;
}
